<%- include("./partials/header") %>

    <h1>About Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, nam! Minima ipsa animi ullam corrupti? Vel
        doloremque similique, illum id pariatur animi voluptates consectetur rem veniam, quod nemo modi vitae?
        Facilis, corporis possimus! Nisi, maxime! Beatae, ad ipsum? Consectetur quod fuga esse. Dolorum, officiis culpa
        eaque accusamus tempora sequi optio odit praesentium, molestiae perferendis ipsa quod, ullam commodi deleniti
        quidem!
        Assumenda atque tempore iusto quod aliquam repellendus repellat ut eligendi at laudantium. Ipsa esse debitis
        fuga, neque sapiente harum exercitationem id assumenda velit aut quas mollitia, molestias voluptate veniam est.
        Provident consequatur quae saepe ab eligendi tempora deleniti repellendus sint cumque porro? Quas atque ipsam
        harum quasi aliquid excepturi ad deleniti nam ex numquam. Consequatur odio beatae pariatur corrupti id.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, nam! Minima ipsa animi ullam corrupti? Vel
        doloremque similique, illum id pariatur animi voluptates consectetur rem veniam, quod nemo modi vitae?
        Facilis, corporis possimus! Nisi, maxime! Beatae, ad ipsum? Consectetur quod fuga esse. Dolorum, officiis culpa
        eaque accusamus tempora sequi optio odit praesentium, molestiae perferendis ipsa quod, ullam commodi deleniti
        quidem!
        Assumenda atque tempore iusto quod aliquam repellendus repellat ut eligendi at laudantium. Ipsa esse debitis
        fuga, neque sapiente harum exercitationem id assumenda velit aut quas mollitia, molestias voluptate veniam est.
        Provident consequatur quae saepe ab eligendi tempora deleniti repellendus sint cumque porro? Quas atque ipsam
        harum quasi aliquid excepturi ad deleniti nam ex numquam. Consequatur odio beatae pariatur corrupti id.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, nam! Minima ipsa animi ullam corrupti? Vel
        doloremque similique, illum id pariatur animi voluptates consectetur rem veniam, quod nemo modi vitae?
        Facilis, corporis possimus! Nisi, maxime! Beatae, ad ipsum? Consectetur quod fuga esse. Dolorum, officiis culpa
        eaque accusamus tempora sequi optio odit praesentium, molestiae perferendis ipsa quod, ullam commodi deleniti
        quidem!
        Assumenda atque tempore iusto quod aliquam repellendus repellat ut eligendi at laudantium. Ipsa esse debitis
        fuga, neque sapiente harum exercitationem id assumenda velit aut quas mollitia, molestias voluptate veniam est.
        Provident consequatur quae saepe ab eligendi tempora deleniti repellendus sint cumque porro? Quas atque ipsam
        harum quasi aliquid excepturi ad deleniti nam ex numquam. Consequatur odio beatae pariatur corrupti id.
    </p>


    <%- include("./partials/footer") %>