<%- include("./partials/header") %>


    <h1>Contact me</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta aut, ipsam odio quasi reiciendis, repellat
        reprehenderit magni delectus fugit distinctio amet dolorum obcaecati odit possimus ut laudantium hic harum nisi.
        Voluptate expedita similique dolor enim debitis odit itaque temporibus tempore aliquam, facere porro provident
        voluptas suscipit eius architecto. Consequuntur commodi asperiores inventore quaerat tempora magni eligendi ea
        saepe quos cum.
        Blanditiis, voluptatum ducimus animi, quo reiciendis perferendis rem aperiam doloribus porro dolor rerum alias
        tempora. Quia dolorem, expedita ab nihil facilis rerum voluptatum impedit architecto? Aliquid earum quaerat
        quidem et?
        Voluptatum explicabo laboriosam laudantium, vel temporibus itaque architecto hic sequi enim rem quam amet veniam
        pariatur corporis velit deserunt! Id odio aliquid temporibus nostrum dolorum aliquam similique consectetur atque
        repellat.</p>


    <%- include("./partials/footer") %>