<%- include("./partials/header") %>
    <h1><i>Did you know?</i></h1>
    <p>
        <%= fact %>
    </p>
    <h3>Blogs for today</h3>
    <h4>This is the homepage.</h4>
    <h5>This is the homepage.</h5>




    <%- include("./partials/footer") %>